/credentials/

# Byte-compiled / optimized / DLL files
__pycache__/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt


.cache

# Django stuff:
*.log

# dotenv
*.env
*.env-prod

# virtualenv
.venv/
venv/
ENV/

.idea

/.credentials/
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

